.eunit
deps
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
*.o
*.d
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
log/
logs/
test/*.beam
test/Mnesia*
Mnesia*
.erlang.mk.packages.*
stats/
.erlang.mk/
xrefr
elvis
