%% Copyright (C) 2013 Baden (baden.i.ua@gmail.com).
%% -*- mode: erlang -*-
{require_otp_vsn, "17"}.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    {parse_transform, lager_transform},
    {platform_define, "^(17)", coding_utf8}
]}.

{deps, [
    {lager,   ".*", {git, "git://github.com/basho/lager.git",        {branch, "master"}}},
    {cowboy,  ".*", {git, "git://github.com/extend/cowboy.git",      {tag, "2.0.0-pre.1"}}},
    {jsxn,    ".*", {git, "git://github.com/talentdeficit/jsxn.git", {tag, "v2.1.1"}}},
    {folsom,  ".*", {git, "https://github.com/boundary/folsom.git",  {branch, "master"}}},
    {navidb,  ".*", {git, "git://github.com/baden/navidb.git",       {branch, "master"}}}
]}.

{clean_files, ["logs/*", "test/*.beam"]}.
